.Follow {

}

.ContactInfo {
    text-align: center;
}

.ContactInfo h4 {
    color: #4D5973;

}

.ContactInfo p a{
    color: #0397d7;
}

.SocialLink {
    justify-content: center;
    text-align: center;
    color: #4D5973;
}

.SocialLink a {
    font-size: 2rem;
    transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
}

.Title {
    padding: 1rem;
    color: #0f4573;
    text-align: left;
    width: fit-content;
}

.email {
    color: inherit;
  }
  .email-on-hover:hover {
    cursor: pointer;
    color: #0397d7;
    text-decoration: underline!important;
  }
  
  .emailLink {
    composes: email email-on-hover;
  }