.Follow {

}

.ContactInfo {
    text-align: center;
}

.ContactInfo h4 {
    color: #4D5973;

}

.ContactInfo p a{
    color: #0397D7;
}

.SocialLink {
    justify-content: center;
    text-align: center;
    color: #4D5973;
}

.SocialLink a {
    font-size: 2rem;
    transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
}

.Title {
    padding: 1rem 0;
    color: #0f4573;
    text-align: center;
}