.S1Booking {
    margin: 3.5rem auto 4.5rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: block;
    height: auto;
}

.C1Booking {
    min-height: 700px;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-content: center;
    align-items: center;
}